* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Times New Roman", Times, serif;
}

header {
    background-color: rgb(76, 71, 71);
    width: 100%;
    height: 5em;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
    border-bottom: 2px solid rgb(60, 168, 168);
}

header h1 {
    color: rgb(60, 168, 168);
    font-size: 4em;
}

main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
}   

.weatherBox {
    width: 100%;
    text-align: center;
}

.weatherBox button{
    margin: 10px;
    width: 40%;
    font-size: 1.5em;
    background-color: rgb(60, 168, 168);
}

.weatherBox #weatherInfo {
    border: 2px solid black;
    min-height: 5em;
}

.weatherBox input {
    margin-right: 5px;
}

.selectionBar {
    font-size: 1.6em;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(60, 168, 168);
}

.selectionBar h3 {
    cursor: pointer;
}

.selectionBar h3:hover{
    color: ivory;
}

.selectionBar .selectedTab{
    background-color: rgb(81, 202, 202);
}

#weatherInfo {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
}

#weatherInfo img {
    grid-row-end: span 4;
    width: 10em;
    margin: auto;
}

#nameOfCity {
    grid-column-end: span 3;
    font-size: 2em;
    color: rgb(76, 71, 71);
    border-bottom: 3px solid rgb(81, 202, 202);
}

#temperature {
    grid-row-end: span 3;
    font-size: 4em;
    color: rgb(81, 202, 202);
}

#realFeel {
    font-size: 3em;
    color: rgb(81, 202, 202);
}

#weatherDescription {
    font-size: 1.5em;
    color: rgb(81, 202, 202);
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
}