* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.recipeList {
  display: inline-block;
  margin: 10px;
}

.recipeList:hover{
  cursor: pointer;
  background-color: rgb(132, 218, 218);
}

.ingrendientsDiv {
  margin: auto;
  width: 40%;
  background-color: darkslategrey;
}

.ingrendientsDiv img {
  width: 10em;
}

.ingredientsList {
  color: white;
}

header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: darkslategrey;
  width: 100%;
  height: 6em;
  text-align: center;
  box-sizing: border-box;
}

#navBar {
  margin: auto;
  text-align: center;
  color: white;
}

#navBar a {
  color: white;
}

header h1 {
  color: floralwhite;
  font-size: 4em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bulletlessList {
  text-align: center;
}

.bulletlessList a {
  color: darkslategrey;
}

.currentRecipe{
  background-color: white;
  border: 4px solid darkslategrey;
}

.directionsText {
  background-color: white;
  border: 4px solid darkslategrey;
  text-align: center;
  padding: 2em;
}

.App-link {
  color: #61dafb;
}

