html {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background: url(../images/grill3.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}

body{
    max-width: 85%;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    color: black);
    font-size: 4em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

a:hover{
    color: rgb(167, 66, 36);
}

a{
    color:black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-decoration: none;
}

.info p{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: bold;
    font-size: 3em;
    color: rgb(167, 66, 36);
}

p{
    color:black;
    font-size: 1.8em;
}

.main, .info{
    text-align: center;   
}

.main p{
    font-size: 3em;
    color: rgb(167, 66, 36);
}

.main img{
    max-width: 650px;
    border: 4px solid black;
    margin: auto;
    width: 50%;
    display: block;
}

img{
    max-width: 80%;
}

.navigation{
    font-size: 2.5em;
    text-align: center;
    margin: 0%;
    margin-left: -90px;
    padding-right: 10px;
    width: 20%;
    position: fixed;
    top: 0;
}

.menuList{
    width: 65%;
    margin: auto;
    font-size: 1.5em;
}


.menuList p{
    color: rgb(167, 66, 36);
    border: 3px solid black;
    margin: auto;
    height: 6em;
    font-weight: bold;
    text-align: center;
    text-align-last: left;
    overflow: auto;
    border-bottom: none;
    letter-spacing: 2px;
    background-image: url(../images/woodBackground.jpg);  
}

.menuList a{
    font-size: 1em;
}

.menuList img{
    float: right;
    margin: 10px 20px;
    border: 2px solid rgb(163, 3, 3);
    height: 5em;   
}

.menuItem {
    text-align: center;
}
.menuItem p{
    color: rgb(167, 66, 36);
    font-weight: bold;
}

.menuItem img{
    border: 4px solid rgb(163, 3, 3);
}
